# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
*.log
.venv/

# --- Node / React ---
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock файлы (оставь только если не хочешь фиксировать версии)
# **/package-lock.json
# **/yarn.lock

# --- Streamlit ---
.streamlit/

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
